<%=@category.name%>
<%=nested_categories @category_children.arrange(:order=>:name), 'products/productcategory', 'nested_categories'%>

<ul>
<% @products.each do |p|%>
	<li><%= link_to p.name, p%></li> 
	<%end%>
	</ul>