<header><!-- header -->
		<h1><a href="/">GFI Stainless</a></h1>
		<h2>| ONE STOP<br/>| ONE SOURCE<br/>| ONE SOLUTION</h2>
		<%= image_tag "headerimg.jpg", width:"940", height:"200", alt:""%><!-- header image -->
	</header><!-- end of header -->