<nav><!-- top nav -->
		<div class="menu">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/products">Products</a></li>
				<li><a href="#">UNDEFINED</a></li>
				<li><a href="#">UNDEFINED</a></li>
				<li><a href="/pages/contact">Contact</a></li>
				<li><a href="/pages/about">About</a></li>
			</ul>
		</div>
	</nav><!-- end of top nav -->